.navigation {

  &__btn, &__logo-text {
    font-size: 12px;
    font-weight: 400;
    background: none;
    border: none;
    &:hover {
      text-decoration-color: white;
      text-decoration: underline;
    }
  }

  &__logo-img {
    position: absolute;
    top: -20px;
    left: -23px;
  }
}