@font-face {
  font-family: 'Merienda';
  src: url("../font/Merienda-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Merienda';
  src: url("../font/Merienda-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}